<div class="grid-wrapper-auth wrap-position ">
    <div class="box-border-auth">
        <div class="box-left">
            <p class="text-left-auth">
                Malathon
            </p>
            <p class="text-left-auth-label">
                ระบบจัดการและบริการงานวิ่งมาราธอน
            </p>
        </div>
        <div class="box-right">
                <h1>Login</h1>
                <div class="box-form-group-custom pt-3">
                    <input class="form-control" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="box-form-group-custom pt-4">
                    <input class="form-control" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="box-form-group-custom pt-4">
                    <button class="btn btn-primary w-250px">Login</button>
                </div>
                <hr class="B4BDFF">
                <div class="box-form-group-custom pt-3">
                    <button type="button" class="btn btn-light w-250px">Register</button>
                </div>
                <!-- <div class="box-form-group-custom pt-4">
                    <input class="form-control" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="box-form-group-custom pt-4">
                    <input class="form-control" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="box-form-group-custom pt-4">
                    <input class="form-control" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                     -->
                
        </div>
    </div>

</div>