<div class="wrapper-grid-setting-profile">
        <div class="box-setting-profile-left ">
            <div class="wrap-header-setting-profile-left">
                <div>
                    <img src="{{this.avatar}}" class="circle-profile-setting-profile-left">
                </div>
                <div class="d-flex align-items-center">
                    <p>{{this.name}} {{this.lastname}}</p>
                </div>
             
            </div>
            
        </div>
        <div class="box-setting-profile-right">
            test
        </div>
</div>