<div class="wrapper-list-all-content">
    <div class="header-list-all">
        <p>อนุมัติสถานะผู้จัดงาน (Approver)</p>
        <hr>
    </div>
    <div class="box-no-data" *ngIf="organizer_approver_list == null">
        <h4>ไม่พบข้อมูล (No data)</h4>
    </div>
    <div class="box-filter-approver" *ngIf="organizer_approver_list?.length > 0">
        <div class=" text-start">
            <label>ค้นหาด้วย</label>
        </div>
        <div class="col-3 text-start">
            <input class="form-control">
        </div>
        <div class="col-3 text-start">
            <input class="form-control">
        </div>
    </div>

    <div class="wrap-table" *ngIf="organizer_approver_list?.length > 0">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">ลำดับ</th>
                    <th scope="col" style="width: 20%;">ชื่อผู้ใช้ </th>
                    <th scope="col" style="width: 20%;">ชื่อ</th>
                    <th scope="col" style="width: 20%;">นามสกุล</th>
                    <th scope="col" style="width: 10%;">วันที่สร้าง</th>
                    <th scope="col" style="width: 20%;">เครื่องมือ</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let list of organizer_approver_list;let i = index;">
                    <th scope="row" class="text-count">{{i+1}}</th>
                    <td>{{list.organ_username}}</td>
                    <td>{{list.organ_name}}</td>
                    <td>{{list.organ_lastname}}</td>
                    <td>{{newDate(list.createdAt)}}</td>
                    <td>
                        <!-- <div class="d-flex justify-content-between align-items-center" style="width: fit-content;">

                            <div class="wrap-button"> -->
                        <button class="btn btn-success custom-button-approver me-3"
                            (click)="updatestatusapprover(list.organ_id)">
                            Approver
                        </button>
                        <!-- </div> -->
                        <!-- <div class="wrap-button"> -->
                        <button class="btn btn-danger custom-button-approver "(click)="updatestatusreject(list.organ_id)">
                            Reject
                        </button>
                        <!-- </div> -->
                        <!-- </div> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>