<div class="wrapper-list-all-content">
    <div class="header-list-all">
        <p>อนุมัติสถานะการวิ่ง (Approver)</p>
        <hr>
    </div>
    <div class="" style="min-height: 750px;">
        <div class="box-filter-approver">
            <div class="col-3 text-start">
                <label>ค้นหาด้วยชื่องาน</label>
                <div class="form-group  pt-2 position-relative">
                    <input class="form-control" [(ngModel)]="eventNameSearch" [placeholder]="'ชื่องาน'">
                    <app-remove-icon *ngIf="eventNameSearch.length > 0" (click)="clearEventSearch()"></app-remove-icon>
                    
                </div>
            </div>
            <div class="w-auto text-start">
                <label>วันที่จัดงาน</label>
                <div class="box-date-container pt-2">
                    <app-date-picker-range (currentPage)="dateRange = $event "></app-date-picker-range>
                </div>
            </div>
            <div class="col-3 text-start align-self-end">
                <button class="btn btn-outline-primary " style="width: 150px;" (click)="onFilter()">ค้นหา</button>
            </div>
        </div>
        <div class="box-no-data mt-5" *ngIf="!eventAllList">
            <h4>ไม่พบข้อมูล (No data)</h4>
        </div>
        <div class="table-responsive mt-5" *ngIf="eventAllList?.length > 0">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col" style="width: 10%;">ลำดับ</th>
                        <th scope="col" style="width: 20%;">รูปภาพ</th>
                        <th scope="col" style="width: 20%;">ชื่องาน</th>
                        <th scope="col" style="width: 20%;">สถานที่จัดงาน</th>
                        <th scope="col" style="width: 10%;">วันที่จัดงาน</th>
                        <th scope="col" style="width: 20%;">เครื่องมือ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let list of eventAllList| paginate: { itemsPerPage: config.pageSize, currentPage: config.currentPage ,  totalItems : config.totalRecord}index as i;">
                        <th scope="row" class="text-count">{{countIndex(config.pageSize,config.currentPage,i+1)}}</th>
                        <td><img src="{{list.path_image}}" style="width: auto;height: 75px;object-fit: cover;"></td>
                        <td>{{list.name}}</td>
                        <td>{{list.MasterLocation.province}} / {{list.MasterLocation.district}} /
                            {{list.MasterLocation.zipcode}}</td>
                        <td>{{list.due_date | date:'dd-MM-yyyy'}}</td>
                        <td>
                            <!-- <div class="d-flex justify-content-between align-items-center" style="width: fit-content;">

                            <div class="wrap-button"> -->
                            <button class="btn btn-success custom-button-approver me-3 "
                                (click)="updateEvent({event_id : list.id, status : '02' , is_active : true })">
                                Approver
                            </button>
                            <!-- </div> -->
                            <!-- <div class="wrap-button"> -->
                            <button class="btn btn-danger custom-button-approver  "
                                (click)="updateEvent({event_id : list.id, status : '03' , is_active : false })">
                                Reject
                            </button>
                            <!-- </div> -->
                            <!-- </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="d-flex justify-content-end pt-2" *ngIf="eventAllList?.length > 0">
        <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
    </div>
</div>