<div class="wrapper-dashboard-organization">
    <div class="header-list-all">
        <p>ประวัติการทำรายการ (History)</p>
        <hr>
    </div>
    <div class="row m-0 d-flex flex-row ">
        <div class="col-lg-3  history_box_left p-0">
            <p class="text-header-dashboard ">ประวัติการลงทะเบียน</p>
        </div>
        <div class="col-lg-9 col-md-12  history_box_right">
            <div class="d-flex justify-content-between">
                <div class="d-flex  flex-row w-100 gap-2 align-self-center">
                    <div class="dropdown">
                        <button class="btn btn-outline-dark" style="width: 120px;">View All</button>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button"  style="width: 120px;"
                            (click)="setStatus();dropdown_status == true ?  dropdown_status = false : dropdown_status = true;"
                            >
                            Filter status</button>
                        <ul class="position-absolute    top-100 border rounded p-lg-2  " *ngIf="dropdown_status == true">
                            <li><a class="dropdown-list-item" >Action</a></li>
                            <li><a class="dropdown-list-item" >Another action</a></li>
                            <li><a class="dropdown-list-item" >Something else here</a></li>
                        </ul>
                    </div>
                </div>
    
                <div class=" d-flex flex-column  justify-content-end w-75 ">
                    <div class="w-100">
                        <input type="text" class="form-control" matInput
                            placeholder="ค้นหาด้วยชื่องาน | ค้นด้วยจังหวัดงาน | ค้นหาด้วยสถานที่งาน">
                    </div>
                </div>
            </div>
            <div class="wrap-table">
                <table class="table table-striped  " style="border-top-left-radius: 50px;" >
                    <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">First</th>
                          <th scope="col">Last</th>
                          <th scope="col">Handle</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Mark</td>
                          <td>Otto</td>
                          <td>@mdo</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>Jacob</td>
                          <td>Thornton</td>
                          <td>@fat</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Larry</td>
                          <td>the Bird</td>
                          <td>@twitter</td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>