.card {
    max-width: 560;
    margin: auto;
    border-radius: 10px;
}

span {
    font-size: 12px;
}

#content-receipt {
    position: relative;
    min-height: 794px;
    /* ความสูงของ A5 ที่ 96 DPI */
    padding-bottom: 50px;
    /* เพิ่มพื้นที่ด้านล่าง */
}

.footer-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}