<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">หลักฐานการชำระเงิน</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body" style="min-height: 400px;">
    <div class="container-lg">
        <ng-container *ngIf="data.length; else noContent">
            <div class="row">
                <div class="col-md-4 mb-3" *ngFor="let item of data">
                    <mat-card>
                        <mat-card-content>
                            <img [src]="item.slip" class="img-fluid rounded shadow" alt="Slip Image" />
                        </mat-card-content>
                        <mat-card-footer>
                            <p class="text-center text-muted mt-3">
                                โอนเมื่อ {{ item.created_at | date:'dd/MM/yyyy HH:mm' }}
                            </p>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<ng-template #noContent>
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px;">
        <p class="text-muted mt-2 fs-5">ไม่พบข้อมูล</p>
    </div>
</ng-template>