<table class="fl-table mb-2 ">
    <thead class="">
        <tr>
            <th scope="col" style="width: 50px;">ลำดับ</th>
            <th scope="col" style="width: 450px;">ชื่องาน</th>
            <th scope="col" style="width: 250px;">วันที่จัดงานวิ่ง</th>
            <th scope="col" style="width: 250px;">ยอดที่ต้องชำระ</th>
            <th scope="col" style="width: 250px;">วันที่ลงทะเบียน</th>
            <th scope="col" style="width: 250px;">สถานะ</th>
            <th scope="col" style="width: 150px;">Tools</th>
        </tr>
    </thead>
    <tbody>
        <tr
            *ngFor="let item of this.data?.results| paginate: { itemsPerPage: config.pageSize, currentPage: config.currentPage ,  totalItems : config.totalRecord}let i = index;">
            <td>{{countIndex(config.pageSize,config.currentPage,i+1)}}</td>
            <td class=""><img [src]="item.EventJoin.Event.path_image"
                    style="width: 150px; object-fit: cover; padding-right: 5px;">{{item.EventJoin.Event.name}}
            </td>
            <td class="text-center">{{item.EventJoin.Event.due_date | date:'dd-MM-yyyy'}}</td>
            <td class="text-center">
                {{covertJSON(item.EventJoin.Invoice.invoice_detail).Event.price | currency:'THB':'symbol-narrow' }}
            </td>
            <td class="text-center">{{item.created_at | date:'dd-MM-yyyy'}}</td>
            <td>
                <ng-container *ngIf="item.status_code == workFlow.WAIT_FOR_APPROVED">
                    <span>รอการอนุมัติ (Waiting for approver)</span>
                </ng-container>
                <ng-container *ngIf="item.status_code == workFlow.WAIT_FOR_PAYMENT">
                    <span class="text-primary fw-bold">รอชำระเงิน (Waiting for payment)</span>
                </ng-container>
                <ng-container *ngIf="item.status_code == workFlow.REJECT">
                    <span class="text-danger fw-bold">งานอนุมัติถูกปฎิเสธ (Job Reject)</span>
                </ng-container>
                <ng-container *ngIf="item.status_code == workFlow.CANCEL">
                    <span class="text-danger fw-bold">งานถูกยกเลิก (Job Cancel)</span>
                </ng-container>
            </td>
            <td class="text-center">
                <button class="btn btn-warning me-2" *ngIf="item.status_code == workFlow.WAIT_FOR_PAYMENT"
                    #tooltipToggle="matTooltip" matTooltip="แนบหลักฐานการจ่ายเงิน" [matTooltipPosition]="'above'"
                    (click)="openModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        class="bi bi-wallet" viewBox="0 0 16 16">
                        <path
                            d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a2 2 0 0 1-1-.268M1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1" />
                    </svg>
                </button>
            </td>
        </tr>
    </tbody>
</table>
<div class="text-center mt-5 mb-5" *ngIf="!data?.results">
    <h2 class="text-dark">ไม่พบข้อมูล (Data not found)</h2>
</div>

<div class="d-flex justify-content-end pt-2" *ngIf="config.totalRecord > 0">
    <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
</div>