<div class="wrapper-dashboard-organization">
    <div class="header-list-all">
        <p>ประวัติการทำรายการ (History)</p>
        <hr>
    </div>
    <div class="row m-0 d-flex flex-row ">
        <div class="col-lg-3  history_box_left p-0">
            <p class="text-header-dashboard ">ประวัติการลงทะเบียน</p>
        </div>
        <div class="col-lg-9 col-md-12  history_box_right">
            <div class="d-flex justify-content-between">
                <div class="d-flex  flex-row w-100 gap-2 align-self-center">
                    <!-- <div class="dropdown">
                        <form [formGroup]="status_form">
                            <mat-form-field class="p-0 w-100">
                                <mat-label>เลือกสถานะ</mat-label>
                                <mat-select formControlName="status" (selectionChange)="filterReg()">
                                    <mat-option *ngFor="let rs of filter_status_list.results.data"
                                        [value]="rs.value"><span>{{rs.text}}</span></mat-option>
                                </mat-select>
                            </mat-form-field>
                        </form>
                    </div> -->
                    <div class="box-input-group col-2 p-0">
                        <label>วันที่ลงทะเบียน</label> <br>
                        <div class="box-date-container">
                            <label class="btn btn-primary label-date-picker">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                    class="bi bi-calendar" viewBox="0 0 16 16">
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                                </svg>

                                <mat-datepicker-toggle matSuffix [for]="picker" hidden [id]="picker">
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </label>
                            <input type="text" class="form-control date-picker" [(ngModel)]="DateResult" matInput
                                [matDatepicker]="picker" readonly placeholder="วันที่ลงทะเบียน">

                        </div>
                    </div>

                    <button type="button" class="btn btn-primary align-self-end" style="width: 150px;height: 40px;"
                        [disabled]="validateButton() === false">ค้นหา</button>
                </div>
            </div>

            <div class="wrap-table box_table_preview">
                <app-pagination-order-member [data]="historyData"
                    [paginationConfig]="{pageSize : perPage , totalRecord : historyData?.total_record}"
                    (currentPage)="getHistory($event)"></app-pagination-order-member>
            </div>
        </div>
    </div>
</div>