<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">หลักฐานการชำระเงิน</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close('Close click')"></button>
</div>
<div class="modal-body" style="min-height: 400px;">
    <div class="container-lg">
        <div class="box-input-group">
            <label class="label">
                <input class="custom-file-input align-items-center" type="file" #fileUpload
                    (change)="uploadFile($event)">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                    class="bi bi-file-image" viewBox="0 0 16 16">
                    <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                    <path
                        d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12z" />
                </svg>
                <span class="ms-2">อัพโหลดรูปภาพ</span>
            </label>
        </div>
        <div class="box-input-group">
            <ng-container *ngIf="previews.length === 0">
                <div class="col-auto text-center">
                    <h6 class="card-text-event-organizer mb-2" style="height: 0px;">ตัวอย่างการอัพโหลด</h6>
                    <img src="../../../../assets//example/example_slip.png" width="184" height="226">
                </div>
            </ng-container>
            <ng-container *ngFor="let rs of this.previews ">
                <div class="col-auto text-center">
                    <img [src]="rs" width="184" height="226">
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger w-25" (click)="activeModal.close('Close click')">ยกเลิก</button>
    <button type="button" class="btn btn-outline-primary w-25"
        (click)="activeModal.close('Close click')">บันทึก</button>
</div>