<div class="wrapper-dashboard-organization">
    <div class="header-list-all">
        <p>สำหรับผู้จัดงาน (Organizer)</p>
        <hr>
    </div>
    <div class="grid-50-50 ">
        <div class="m-0 p-0">
            <form [formGroup]="status_form">
                <mat-form-field class="p-0 w-25">
                    <mat-label>เลือกสถานะ</mat-label>
                    <mat-select formControlName="status" (selectionChange)="filterReg()">
                        <mat-option *ngFor="let rs of status_object_array"
                            [value]="rs.value"><span>{{rs.label}}</span></mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="d-flex justify-content-end "  style="gap: 20px;">
            <button class="btn btn-primary" (click)="onSaveUpdateIsActive()" [disabled]="actionDraft == false">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-floppy-fill" viewBox="0 0 16 16">
                    <path
                        d="M0 1.5A1.5 1.5 0 0 1 1.5 0H3v5.5A1.5 1.5 0 0 0 4.5 7h7A1.5 1.5 0 0 0 13 5.5V0h.086a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5H14v-5.5A1.5 1.5 0 0 0 12.5 9h-9A1.5 1.5 0 0 0 2 10.5V16h-.5A1.5 1.5 0 0 1 0 14.5z" />
                    <path
                        d="M3 16h10v-5.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5zm9-16H4v5.5a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5zM9 1h2v4H9z" />
                </svg>
                <span class="p-2">บันทึกข้อมูลการเปิด/ปิด</span>
            </button>
            <button class="btn btn-success" (click)="openModalCreate(modalcreate)">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-plus-square-fill" viewBox="0 0 16 16">
                    <path
                        d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0" />
                </svg>
                <span class="p-2">สร้างงานวิ่ง</span>
            </button>
        </div>

    </div>
    <div class="box-content-list-menu">
        <ng-container
            *ngFor="let rs of filter_reg | paginate: { itemsPerPage: perPage, currentPage: currentPage , totalItems : totalRecord}let i = index; ">
            <div class="card card-list">
                <img [src]="rs.path_image" style="width: 100%; height: 200px;" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title-event mb-3">{{rs.name}}</h5>
                    <p class="card-text-event-organizer mb-0">วันที่จัดงาน : {{rs.due_date | date:'dd-MM-yyyy'}}</p>
                    <p class="card-text-event-organizer mb-0" *ngIf="rs.status_code == '01'">สถานะ :
                        <span class="text-warning"
                            style="font-size: 14px;">{{changeStatustotext(rs.status_code)}}</span>
                    </p>
                    <p class="card-text-event-organizer mb-0" *ngIf=" rs.status_code == '02'">สถานะ :
                        <span class="text-primary"
                            style="font-size: 14px;">{{changeStatustotext(rs.status_code)}}</span>
                    </p>
                    <p class="card-text-event-organizer mb-0" *ngIf="rs.status_code == '03' || rs.status_code =='04'">
                        สถานะ :
                        <span class="text-danger" style="font-size: 14px;">{{changeStatustotext(rs.status_code)}}</span>
                    </p>
                    <p class="card-text-event-organizer mb-0" *ngIf="rs.status_code == '05'">สถานะ :
                        <span class="text-success"
                            style="font-size: 14px;">{{changeStatustotext(rs.status_code)}}</span>
                    </p>
                    <hr class="">
                    <div class="text-end">
                        <!-- <button type="button" class="btn btn-outline-danger me-2" placement="top"
                            *ngIf="rs.reg_event_status == '03'" [ngbPopover]="rs?.reason" popoverTitle="เหตุผล">
                            เหตุผล
                        </button> -->
                        <mat-slide-toggle (change)="setIsActive($event,rs)" color="primary" [checked]="rs.is_active"  *ngIf="rs.status_code == '02'"
                            #tooltipToggle="matTooltip" matTooltip="เปิด/ปิด อีเว้นท์นี้"
                            [matTooltipPosition]="'above'"></mat-slide-toggle>
                        <button type="button" class="btn btn-outline-warning  me-2" *ngIf="rs.status_code == '02'"
                            (click)="openDialog(rs)" #tooltip="matTooltip" matTooltip="รายละเอียดผู้สมัคร"
                            [matTooltipPosition]="'above'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                                class="bi bi-file-text" viewBox="0 0 16 16">
                                <path
                                    d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                                <path
                                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                            </svg>
                        </button>
                        <button type="button" class="btn btn-outline-success  me-2" *ngIf="rs.status_code == '02'"  #tooltipButton="matTooltip" matTooltip="กดเพื่อสิ้นสุดอีเว้นท์"
                        [matTooltipPosition]="'above'"
                            (click)="onUpdateFinishjob(rs?.id,rs?.is_active)">
                            ปิดจบงาน
                        </button>
                    </div>

                </div>
            </div>
        </ng-container>
    </div>
    <div class="mt-5 d-flex justify-content-end">
        <pagination-controls (pageChange)="changePage($event)"></pagination-controls>
    </div>
    <div class="text-center " *ngIf="filter_reg?.length == 0">
        <h2 class="text-dark">ไม่พบข้อมูล (Data not found)</h2>
    </div>
</div>


<ng-template #modalcreate let-modal>
    <div class="modal-header">
        <h4 class="modal-title">สร้างงานวิ่ง (Create)</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="create_register_running_event">
            <div class="form-group">
                <div class="box-input-group">
                    <label>ชื่องาน</label>
                    <input type="text" class="form-control" placeholder="ชื่องาน" formControlName="reg_event_name"
                        maxlength="40" [ngClass]="{
                        required:
                        create_register_running_event.controls['reg_event_name'].invalid &&
                        create_register_running_event.controls['reg_event_name'].touched
                        }">
                    <span *ngIf="
                            create_register_running_event.controls['reg_event_name'].invalid &&
                            create_register_running_event.controls['reg_event_name'].touched">
                        <span *ngIf="
                                create_register_running_event.controls['reg_event_name'].errors">
                            <small class="text-danger">
                                กรุณาระบุชื่องาน
                            </small>
                        </span>
                    </span>
                </div>
                <div class="box-input-group">
                    <label>วันที่จัดงาน</label> <br>
                    <div class="box-date-container">
                        <label class="btn btn-primary label-date-picker">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-calendar" viewBox="0 0 16 16">
                                <path
                                    d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z" />
                            </svg>
                            <mat-datepicker-toggle matSuffix [for]="picker" hidden
                                [id]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </label>
                        <input type="text" class="form-control date-picker" formControlName="reg_event_due_date"
                            matInput [matDatepicker]="picker" readonly placeholder="เลือกวันที่จัดงาน" [min]="today">
                    </div>
                </div>
                <div class="box-input-group">
                    <label>ระยะทางวิ่ง</label>
                    <input type="text" class="form-control" placeholder="ระยะทางวิ่ง"
                        formControlName="reg_event_distance" maxlength="40" [ngClass]="{
                        required:
                        create_register_running_event.controls['reg_event_distance'].invalid &&
                        create_register_running_event.controls['reg_event_distance'].touched
                        }" (keypress)="numberOnly($event)" onpaste="return false;" ondrop="return false;">
                    <span *ngIf="
                            create_register_running_event.controls['reg_event_distance'].invalid &&
                            create_register_running_event.controls['reg_event_distance'].touched">
                        <span *ngIf="
                                create_register_running_event.controls['reg_event_distance'].errors">
                            <small class="text-danger">
                                กรุณาระบุระยะทางวิ่ง
                            </small>
                        </span>
                    </span>
                </div>
                <div class="box-input-group">
                    <label>ราคาบัตร</label>
                    <input type="text" class="form-control" placeholder="ราคาบัตร" formControlName="reg_event_price"
                        maxlength="40" [ngClass]="{
                        required:
                        create_register_running_event.controls['reg_event_price'].invalid &&
                        create_register_running_event.controls['reg_event_price'].touched
                        }" (keypress)="numberOnly($event)" onpaste="return false;" ondrop="return false;">
                    <span *ngIf="
                            create_register_running_event.controls['reg_event_price'].invalid &&
                            create_register_running_event.controls['reg_event_price'].touched">
                        <span *ngIf="
                                create_register_running_event.controls['reg_event_price'].errors">
                            <small class="text-danger">
                                กรุณาระบุราคาบัตร
                            </small>
                        </span>
                    </span>
                </div>
                <div class="box-input-group">
                    <label>จำนวนบัตร</label>
                    <input type="text" class="form-control" placeholder="จำนวนบัตร" formControlName="reg_event_amount"
                        maxlength="40" [ngClass]="{
                        required:
                        create_register_running_event.controls['reg_event_amount'].invalid &&
                        create_register_running_event.controls['reg_event_amount'].touched
                        }" (keypress)="numberOnly($event)" onpaste="return false;" ondrop="return false;">
                    <span *ngIf="
                            create_register_running_event.controls['reg_event_amount'].invalid &&
                            create_register_running_event.controls['reg_event_amount'].touched">
                        <span *ngIf="
                                create_register_running_event.controls['reg_event_amount'].errors">
                            <small class="text-danger">
                                กรุณาระบุจำนวนบัตร
                            </small>
                        </span>
                    </span>
                </div>
                <div class="box-input-group">
                    <label>รายละเอียด</label>
                    <textarea type="text" class="form-control" placeholder="รายละเอียด"
                        formControlName="reg_event_detail" maxlength="80" [ngClass]="{
                        required:
                        create_register_running_event.controls['reg_event_detail'].invalid &&
                        create_register_running_event.controls['reg_event_detail'].touched
                        }">
                        </textarea>
                    <span *ngIf="
                            create_register_running_event.controls['reg_event_detail'].invalid &&
                            create_register_running_event.controls['reg_event_detail'].touched">
                        <span *ngIf="
                                create_register_running_event.controls['reg_event_detail'].errors">
                            <small class="text-danger">
                                กรุณาระบุรายละเอียด
                            </small>
                        </span>
                    </span>
                </div>
                <div class="box-input-group">
                    <label>รายละเอียด</label>
                    <select class="form-select" formControlName="location_id" [ngClass]="{
                        required:
                        create_register_running_event.controls['location_id'].invalid &&
                        create_register_running_event.controls['location_id'].touched
                        }">
                        <option value="null" disabled>เลือกสถานที่</option>
                        <option *ngFor="let rs of master_location" [value]="rs.id">
                            {{rs.province}} / {{rs.district}} / {{rs.zipcode}} /
                            {{rs.address}}
                        </option>
                    </select>
                    <span *ngIf="
                            create_register_running_event.controls['location_id'].invalid &&
                            create_register_running_event.controls['location_id'].touched">
                        <span *ngIf="
                                create_register_running_event.controls['location_id'].errors">
                            <small class="text-danger">
                                กรุณาเลือกสถานที่
                            </small>
                        </span>
                    </span>
                </div>
                <div class="box-input-group">
                    <label>อัพโหลดรูปภาพ</label><br>
                    <label class="label">
                        <input class="custom-file-input align-items-center" type="file" #fileUpload
                            (change)="uploadFile($event)">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                            class="bi bi-file-image" viewBox="0 0 16 16">
                            <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                            <path
                                d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12z" />
                        </svg>
                        <span class="ms-2">อัพโหลดรูปภาพ</span>
                    </label>
                </div>
                <div class="box-input-group">
                    <!-- <label *ngIf="previews.length != 0" class="text-">Preview (ตัวอย่างภาพ)</label> -->
                    <div class="previews-img" *ngFor="let rs of this.previews ">
                        <img [src]="rs" style="width: 280px; height: 200px; object-fit: cover;">
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-3 mt-3">
                    <button class="btn btn-primary btn-modal-submit me-3" (change)="checkcreateModal()"
                        [disabled]="checkcreateModal() === false"
                        (click)="createData();modal.dismiss()">บันทึกข้อมูล</button>
                    <button class="btn btn-danger btn-modal-submit" (click)="modal.dismiss()">ยกเลิก</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>