/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;600&family=Ubuntu&display=swap');

* {
    font-family: 'Kanit', sans-serif;
}

html {
    min-width: 1084px;
    max-width: 100%;
}

.wrapper-page {
    padding-left: 10rem;
    padding-right: 10rem;
}

.wrapper-page-auth {
    padding: 0px !important;
    min-width: 100%;
    min-height: 100vh;
}

//navbar 
.box-nav {
    background-color: #0d47a1;
    margin-bottom: 13px;
    height: 60px;
}

.nav-detail {
    padding-top: 5px;
    padding-left: 10rem !important;
    padding-right: 10rem !important;
}


.wrapper-nav-menu {
    display: grid;
    grid-template-columns: 200px auto;
}
.nav-gap {
    gap: 0px 20px;
}
.nav-grid-left {
    padding: auto;
}

.nav-grid-left small {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 1.5px;
    color: #fff;
}

.nav-grid-right {
    // display: flex;
    // justify-content: space-between;
    display: grid;
    grid-template-columns: auto   180px;
}

.nav-grid-right small {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #fff
}

.box-profile-nav {
    display: grid;
    grid-template-columns: 60% 10% 20%;
}

.vl {
    border-left: 2px solid #fff;
    height: auto;
}

.circle-profile-nav {
    width: 50px;
    height: 50px;
    background-color: #0A6EBD;
    border-radius: 50px;
}
.text-profile-nav {
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
}

.box-login {
    display: flex;
    justify-content: end;
}

//responsive navbar
@media screen and (max-width: 1350px) {
    .nav-grid-right small {
        display: none;
    }

    .vl {
        display: none;
    }
    .box-profile-nav{
        display: flex;
        // grid-template-columns: auto;
        justify-content: end;
        text-align: end;
    }
    .nav-grid-right {
        display: grid;
        grid-template-columns: auto;
        text-align: end;
    }
    .nav-detail{
        padding-left:20px !important ;
        padding-right: 20px !important;
    }
}

.box-wrapper-header {
    //background-color: #CA965C;
    height: 50px;
}

.box-header {
    width: 100%;
}

.box-search-bar {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px;
}

.search-bar {
    text-align: center;
    width: 800px;
}

//auth 
.grid-wrapper-auth {
    display: grid;
    grid-template-columns: 100%;
}

.wrap-position {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    // top: 30%;
    // left: 50%;
}

.box-border-auth {
    min-width: 1020px;
    min-height: 600px;
    border: solid 1px #F1EFEF;
    display: flex;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 10px #F1EFEF;
}

.box-left {
    width: 30%;
    height: 100%;
    background-color: #0A6EBD;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 5px 5px #F1EFEF;
}

.text-left-auth {
    padding-top: 200px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 45px;
    margin-bottom: 0px;
}

.text-left-auth-label {
    color: #fff;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 2px;
    width: 100%;
    text-align: start;
}

.box-right {
    width: 70%;
    text-align: center;
    padding-top: 80px;
}

.box-form-group-custom {
    width: auto;
    display: flex;
    justify-content: center;
}

.box-form-group-custom input {
    width: 50%;
}

.B4BDFF {
    height: 2px;
    color: #B4BDFF;
    margin: 20px;
}

.EC8F5E {
    color: #EC8F5E;
}

// width 
.w-250px {
    width: 150px;
}

a {
    cursor: pointer;
    text-decoration: none !important;
}

.required {
    border: 1px solid #dc3545 !important;
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + .75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e") !important;
    background-repeat: no-repeat !important;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
    background-position: top calc(0.375em + 0.1875rem) right calc(0.375em + 0.1875rem);
}

.box-wrapper-admin-dashboard {
    display: grid;
    grid-template-columns: 250px auto;
    min-height: 100vh;
    max-height: 100%;
    background-color: #f4f3ef;
}

.box-left-admin-dashboard {
    height: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 20px 5px #A9A9A9;
    padding: 30px;
    // text-align: center;
}

.text-header-dashboard {
    color: #000;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 22px;
    margin-bottom: 0px;
    line-height: 30px;
}

.box-profile-dashboard {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

.text-header-account {
    margin-left: 10px;
    margin-top: 10px;
    color: #000;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 30px;
    white-space: nowrap;
    width: 100% !important;
    overflow: hidden;
    text-overflow: ellipsis;
    // text-wrap: break-word;
}

.text-header-account:hover {
    overflow: visible !important;
    zoom: 80%;
}

.circle {
    display: inline-block;
    background-color: #0A6EBD;
    margin-top: 10px;
    // margin: 2px;
    // padding: 10px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;

}

.wrapper-collapse {
    //margin-top: 15px !important;
    height: auto !important;
    color: rgba(0, 0, 0, .65);
    transition: height 2s;
}

.wrapper-collapse-transition {
    //padding: 0 18px;
    min-height: 0;
    // max-height: auto;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    //background-color: #f1f1f1;
    color: #000;
}

// .wrapper-collapse-transition :hover{
//     background: #ccc;
//     overflow: hidden;
//     transition: height 2s;
//     height: 200px;
// }


.header-collapse {
    display: grid;
    grid-template-columns: 20% 60% 10%;
    //padding-left: 5px;
}

.header-collapse-label {
    // color: #000;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 0px;
    line-height: 40px;
}

.header-collapse-icon {
    //padding-top: 5px;
    width: 50px !important;
    height: 50px !important;
}

.wrap-content-dashboard {
    padding: 40px;
    width: 100%;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
    letter-spacing: 2px;
    font-weight: 200;
    font-size: 14px;
    text-align: start;
}

.wrapper-list-all-content {
    background-color: #fff;
    border-radius: 20px;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px
}

.header-list-all {
    width: 100%;
    padding-bottom: 20px;
}

.header-list-all p {
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 26px;
}

.list-li-menu {
    margin-left: 36px;
    padding-bottom: 10px;
    width: fit-content !important;
    cursor: pointer !important;
}

.list-li-menu :hover {
    font-weight: 400;
    font-size: 16;
}

.word-wrap {
    word-wrap: break-word !important;
}

.box-input-group {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
}

.box-input-group label {
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.btn-modal-submit {
    width: 220px !important;
}

//   .circle-inner {
//     color: white;
//     display: table-cell;
//     vertical-align: middle; 
//     text-align: center;
//     text-decoration: none;
//     height: fit-content;
//     width: fit-content;  
//     font-size: 30px;
//   }
// .btn-disble {
//     background-color: ;
// }
// .grid-item {
//     background-color: rgba(255, 255, 255, 0.8);
//     border: 1px solid rgba(0, 0, 0, 0.8);
//     padding: 20px;
//     font-size: 30px;
//     text-align: center;
// }