<div class="nav-detail "  (mouseup)="isCollapsed = true">
    <div class="wrapper-nav-menu">
        <div class="nav-grid-left">
            <small>Marathon</small>
        </div>
        <div class="nav-grid-right ">
            <div class="d-flex nav-gap ">
                <small (click)="routerIndex()">Home</small>
                <small>Support</small>
            </div>


            <div class="box-login" *ngIf="!this.token">
                <button class="btn btn-light me-3" (click)="routeLogin()">Sign in</button>
                <button class="btn btn-primary" (click)="routeLogin()">Sign Up</button>
            </div>
            <div class="box-profile-nav" *ngIf="this.token">
                <div class="wrap-text-icon-profile">
                    <small class="text-center text-profile-nav">{{ this.name }}
                    </small>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-down-fill" viewBox="0 0 16 16" (click)="isCollapsed = false"
                        *ngIf="isCollapsed == true">
                        <path
                            d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-caret-up-fill" viewBox="0 0 16 16" *ngIf="isCollapsed == false">
                        <path
                            d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                    </svg>
                </div>
                <div class="vl"></div>
                <!-- <div class="" > -->
                <img src="{{this.avatar}}" class="circle-profile-nav" (mouseover)="isCollapsed = false">
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
        <div class="wrapper-box-collapse">
            <div class=" box-collapse">
                <div class="box-collapse-body">
                    <div class="menu-collapse" *ngIf="this.role == 'member'">
                        <p (click)="routeUserhistory()">ประวัติ</p>
                    </div>
                    <div class="menu-collapse">
                        <p (click)="routeSettingprofile()">ตั่งค่าโปรไฟล์</p>
                    </div>
                    <div class="menu-collapse" *ngIf="this.role == 'organizer'">
                        <p (click)="routeOrganizerDashboard()">สำหรับผู้จัดงาน</p>
                    </div>
                    <div class="menu-collapse">
                        <p (click)="signOut()">ออกจากระบบ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>