<div class="nav-detail">
    <div class="wrapper-nav-menu">
        <div class="nav-grid-left">
            <small>Marathon</small>
        </div>
        <div class="nav-grid-right ">
            <small>Marathon</small>
            <small>Marathon</small>
            <small>Marathon</small>
            <small>Marathon</small>
            <small>Marathon</small>
            <small>Marathon</small>
            <small>Marathon</small>
            <div class="box-login">
                <button class="btn btn-light me-3 ">Sign in</button>
                <button class="btn btn-primary">Sign Up</button>
            </div>
        </div>
    </div>
</div>